chromadb==0.6.3
openai==1.68.2
tiktoken==0.9.0
dotenv==0.9.9
fastapi==0.115.12
dependency-injector==4.46.0
email-validator==2.2.0
ujson==5.10.0
streamlit==1.43.2
sseclient==0.0.27
pytest==8.3.5
pytest-mock==3.14.0
httpx==0.28.1